*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: $text_color;
}

.container{
    width: 80%;
    margin: auto;
}

.btn-standard{
    @include button-base;

    img{
        width: 20px;
        vertical-align: middle;
        padding-right: 10px;
    }

}

img{
    width: 100%;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.small-title{
    font-size: 22px;
}

.blue-text{
    color: $secondary-color;
    font-weight: 600;
}