.header-top{
    @include my-display-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $text_color;
    padding: 20px 0;

    .logo{
        width: 150px;
        padding-left: 20px;
    }
}

.nav-menu{
    list-style-type: none;

    li{
        margin-left: 10px;
        display: inline-block;
        a{
            text-decoration: none;
            color: $text_color;
        }

        button{
            padding: 10px;
            border-radius: 5px;
            border: 1px solid $buttons_color;

            img{
                width: 20px;
                vertical-align: middle;
            }

            a{
                vertical-align: middle;
                color: $buttons_color;
                font-weight: 600;
            }
        }
    }
}

.jumbotron{
    &::after{
        @include clearfix;
    }

    padding: 40px 0;
    .header-title{
        float: left;
        width: 50%;

        h2{
            line-height: 40px;
            font-size: $main-titles-size;
        }

        p{
            margin-bottom: 40px;
            line-height: 30px;
        }
        button{
            @include button-base;

            img{
                width: 20px;
                vertical-align: middle;
            }
        }

    }

    .jumbo-img{
        float: left;
        width: 50%;
    }
}