@mixin my-display-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin button-base {
    padding: 5px;
    background-color: $secondary-color;
    color: white;
    border-radius: 5px;
    border: none;
}

@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}