.third-section{
    background-color: $primary_color;
    padding: 40px 0;
}

.small-container{
    width: 60%;
    margin: auto;
    @include my-display-flex;
    flex-direction: column;
    align-items: center;
}

.letter{
    border-radius: 10px;
    border: 1px solid $secondary-color;
    background-color: white;
    color: black;
    margin: 40px 0;
    padding: 40px;

    p{
        margin-bottom: 15px;
    }
    
}

.btn-container{
    text-align: center
}


.founders{
    @include my-display-flex;
    align-items: center;
    span{
        padding-top: 20px;
    }
}

.dev-photo{
    width: 50px;
    margin-top: 20px;
    margin-right: 20px;
}
